// About page (/about)

.about-description {
  background: #ffff;
  border-radius: 15px;
  padding: 35px;
  margin-top: 30px;

  section{
    h2{
      font-size: 16px;
    }

    p{
      font-size: 14px;
      margin-bottom: 20px;
    }

    ul{
      li{
        font-size: 14px;
      }
    }
  }
}
