
.project-category{
    display: block;
}

.project-button-container{
    align-content: center;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

// .projects-row-container{
//     margin-top: 20px;
// }