
.project-category{
    display: block;
}

.project-button-container{
    align-content: center;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.projects-row-container{
    margin-top: 20px;
}