
.project-category{
    display: block;
}

.project-button-container{
    background: _palette(bg-white);
    border-radius: _size(border-radius);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.projects-row-container{
    margin-top: 20px;
}